nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      .navbar-brand(ng-if="currentUser !== null") {{currentUser.email}}
    #navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ng-if="currentUser === null")
          a(href='/#/signup') sign up
        li(ng-if="currentUser === null")
          a(href='/#/login') login
        li(ng-if="currentUser !== null")
          a(href="#/", ng-click="logout()") logout
      ul.nav.navbar-nav.navbar-right.acme-navbar-text
        li
          a card {{currentUser.card.count}}
