navbar
.container
  .row
    .col-md-4 From
    .col-md-4 To
    .col-md-4: input(type="checkbox")
  .row
    .col-md-6
      | Price from
      input.form-control
      | to
      input.form-control
    .col-md-6
      | Color
      select
        
