navbar
.container
  form.form-inline
    .form-group
      label.control-label(for="dateFrom") From
      input.form-control#dateFrom(type="date", name="dateFrom", ng-model="filter.dateFrom")
    .form-group
      label.control-label(for="dateTo") to
      input.form-control#dateTo(type="date", name="dateTo", ng-model="filter.dateTo")
    .form-group
      .checkbox: label
        input(type="checkbox", ng-model="filter.inStock")
        | &nbsp;In stock only
  
  br      
  
  form.form-inline
    .form-group
      label.control-label(for="priceFrom") From
      input.form-control#priceFrom(type="number", step="0.01", name="priceFrom", ng-model="filter.priceFrom")
    .form-group
      label.control-label(for="priceTo") to
      input.form-control#priceTo(type="number", step="0.01", name="priceTo", ng-model="filter.priceTo")
    .form-group
      label Color
      select.form-control(ng-options="color as color for color in colors", ng-model="filter.color")
  
  br
    
  .grid
    .card(ng-repeat="item in items"): .row
      .col-sm-3: img(ng-src="{{item.image}}")
      .col-sm-3
        | {{item.name}}
        br
        br
        | {{item.color}}
      .col-sm-3
        | {{item.issueDate}}
        br
        br
        | {{item.inStock}}
      .col-sm-3
        | {{item.price}}
        br
        br
        button.btn.btn.btn-primary(ng-disabled="!authorized") order
      
        
